{
  "env": {
    "node": true,
    "browser": false
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": false
    }
  },
  "globals": {
    "_": true,
    "sails": true,
    "async": true,
    "server": true,
    "User": true,
    "UserService": true,
    "AuthController": true,
    "CategoryController": true,
    "PostController": true,
    "UserController": true,
    "Category": true,
    "Post": true,
    "ValidationSchema": true,
    "jwtToken": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:import/errors",
    "plugin:import/warnings"
  ],
  "rules": {
    "no-unused-vars": "warn",
    "indent": [
      "warn",
      2
    ],
    "no-console": 0,
    "linebreak-style": [
      "warn",
      "unix"
    ],
    "import/no-unresolved": [
      2,
      {
        "commonjs": true,
        "amd": true
      }
    ]
  }
}